<section id="section-resume" class="section-padding">
		
	</section>

	<section id="resume-details" class="section-padding">



<div class="container">


    <a href="#" class="btn btn-default featured">Download csv</a>
    <a href="#" class="btn btn-default featured">Send email notification</a>

</div>

	</section>