<section id="section-resume" class="section-padding">
		



<div class="container">


    <a href="#" class="btn btn-default featured">Download csv</a>
    <a href="#" class="btn btn-default featured" style="margin-left:200px;">Send email notification</a>

</div>

	</section>