<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title><%= locals.title || 'Wifiology' %></title>
	
	<link rel='icon' href='../resources/img/favicon.ico' type='image/x-icon'/>
    <!-- Bootstrap core CSS -->
	<% if(locals.useDefaultBootrap) { %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <% } else { %>
    <link rel="stylesheet" href="/static/css/sandstone-bootstrap.min.css">
    <% } %>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script>
    <script src="/static/js/Wifiology.js"></script>
    <% if(locals.scriptToRun) { %>
    <script type="application/javascript"><%- locals.scriptToRun %></script>
    <% }%>

    <script type="text/mustache-template" id="ss-item-top-level-template">
      <li class="list-group-item px-0">
        <a class="btn" data-toggle="collapse" href="#{{ id }}" role="button" aria-expanded="true" aria-controls="collapseExample1">
          <span class="mr-3"></span> {{ networkName }} ( {{ bssidCount }} Access Points )
        </a>
        <div class="collapse" id="{{ id }}">
          <div class="card card-body mt-2">
            {{ bssidList }}
          </div>
        </div>
      </li>
    </script>

    <!-- Custom styles for this template -->
    <link href="/static/css/Wifiology.css" rel="stylesheet">
  </head>
  <body>