<section id="section-profile" class="section-padding">
		<div class="profile-bg visible-md visible-lg"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-7 col-sm-12 pull-right">
					<div class="profile-desc wow fadeInRight">
						 <h2 class="section-title uppercase">History Graph</h2>
<br/>
                                    <p>

                                        a huge graph here
                                    </p>

					</div>


				</div>
			</div> <!-- row end -->
		</div><!-- container end -->
	</section>