<section class="login">
	
	<div id="myModal" class="modal fade">
	<form name="register_form" action="/login" method="POST">
		<div class="modal-dialog modal-login">
			<div class="modal-content">
				<div class="modal-header">
					
					<h4 class="modal-title">Sign In</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<input type="text" class="form-control" name="inputUsername" placeholder="Username"
							required="required">
					</div>
					<div class="form-group">
						<input type="password" class="form-control" name="password" placeholder="Password"
							required="required">
					</div>
					<div class="form-group">
						<button id="my_submit_button" class="btn btn-primary btn-block login-btn" type="submit" onlick="register_form.submit()" >Sign In</button>
					</div>


				</div>
			</div>
		</div>
	</form>
	</div>		
</section>