<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Wifiology</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/nodes">Nodes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/api/1.0/ui">API Docs</a>
            </li>
        </ul>
        <span class="navbar-text logged-in-as">Logged in as: <%= locals.user.userName || '???' %></span>
        <a class="btn btn-outline-success my-2 my-sm-0" href="/logout">Logout</a>
    </div>
</nav>