<!--TODO: copy footer code to footer.ejs and include as a partial -->
	<footer id="section-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">

					<h4>Copyright &copy; 2019. 404 Group name do not exist All rights reserved</h4>


				</div>
			</div>
		</div>
	</footer>