<section id="section-overview" class="section-padding">
		<div class="container">
			<div class="row">
						<div class="service-wrapper">
							<div class="service-inner wow fadeInRight" data-wow-delay=".2s">
								<i class="fa fa-users"></i>
								<div class="service-box">
									<h3>Current status</h3>
									<p>Busy or not</p>
								</div>
							</div> <!-- service -inner  -->
							
							 <!-- service -inner  --><!-- service -inner  -->
						</div>
					</div><!-- row end -->
		</div>
	</section>
	<!-- section overview end -->