<!-- Resume start -->

	<section id="section-resume" class="section-padding">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center wow fadeInUp">
					<h2 class="heading-title">History graph</h2>
					<p>history graph here</p>

				</div>
			</div>
		</div>
	</section>

	<section id="resume-details" class="section-padding">



<div class="container">


    <a href="#" class="btn btn-default featured">Download csv</a>

</div>

	</section>
	<!-- Resume end -->