

	<section id="section-skill" class="section-padding">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2 class="heading-title">Display SSID</h2>
				</div>
				<div class="col-md-6 col-sm-6 wow fadeInLeft">
					<div class="skill-desc">
						<p>
						All wifis</p>


					</div>
				</div>

				<div class="col-md-6 col-sm-6 wow fadeInRight" >
					<div class="skill-box wow fadeInDown" data-wow-delay=".2s">
						<label> CUB Wireless</label>
						<div class="progress">
							<div class="progress-bar" role="progress-bar" aria-valuemin="0" aria-valuenow="70" aria-valuemax="100" style="width: 70%;" >
								70%
							</div>
						</div>
					</div>
					<div class="skill-box wow fadeInDown" data-wow-delay=".4s">
						<label> CUB Guest</label>
						<div class="progress">
							<div class="progress-bar" role="progress-bar" aria-valuemin="0" aria-valuenow="85" aria-valuemax="100" style="width: 85%;" >
								85%
							</div>
						</div>
					</div>
					<div class="skill-box wow fadeInDown" data-wow-delay=".6s">
						<label> Blabla</label>
						<div class="progress">
							<div class="progress-bar" role="progress-bar" aria-valuemin="0" aria-valuenow="90" aria-valuemax="100" style="width: 90%;" >
								90%
							</div>
						</div>
					</div>
					<div class="skill-box wow fadeInDown" data-wow-delay=".8s">
						<label>Blablabla</label>
						<div class="progress">
							<div class="progress-bar" role="progress-bar" aria-valuemin="0" aria-valuenow="65" aria-valuemax="100" style="width: 65%;" >
								65%
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	