<script type="text/mustache-template" id="ss-item-top-level-template">
    <li class="list-group-item px-0">
        <a data-toggle="collapse" href="#{{ id }}" class="list-button-link collapsed">
            {{ networkName }} ({{ bssidCount }} Access Points) <i class="fa" aria-hidden="false"></i>
        </a>
        <div class="collapse" id="{{ id }}">
            <div class="card card-body mt-2">
                <table class="table">
                    <thead>
                        <tr><th>BSSID</th></tr>
                    </thead>
                    <tbody>
                        {{{ bssidList }}}
                    </tbody>
                </table>
            </div>
        </div>
    </li>
</script>

<script type="text/mustache-template" id="ss-item-bssid-subitem-template">
    <tr><td>{{bssid}}</td></tr>
</script>