<!DOCTYPE html>

<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Wifiology</h1>
    <p> Wifiology is a service which:
    <ul>
       <li>informs users and administrators about wireless usage and congestion at their favorite hot spots</li>
       <li> helps users schedule access time to avoid highly congested networks</li>
       <li> and helps administrators see metrics on how their 802.11 networks are performing </li>
    </ul>
    </P>
    <p>Coming soon...</p>
    <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-nodejs"><span class="glyphicon glyphicon-flash"></span> Getting Started with Node</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/node-js-getting-started"><span class="glyphicon glyphicon-download"></span>Demo source code</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
  Placeholder text is so lovely and delicious that you think you migh freeze from automatic twitches and theres nothing but these things in which your wrapped up in ways instictive captive in mucous in the object realm you cant wash the sound off your toes quick brown fox and all good men went lorem ipsum salading until quarter to 10   Placeholder text is so lovely and delicious that you think you migh freeze from automatic twitches and theres nothing but these things in which your wrapped up in ways instictive captive in mucous in the object realm you cant wash the sound off your toes quick brown fox and all good men went lorem ipsum salading until quarter to 10   Placeholder text is so lovely and delicious that you think you migh freeze from automatic twitches and theres nothing but these things in which your wrapped up in ways instictive captive in mucous in the object realm you cant wash the sound off your toes quick brown fox and all good men went lorem ipsum salading until quarter to 10   Placeholder text is so lovely and delicious that you think you migh freeze from automatic twitches and theres nothing but these things in which your wrapped up in ways instictive captive in mucous in the object realm you cant wash the sound off your toes quick brown fox and all good men went lorem ipsum salading until quarter to 10   Placeholder text is so lovely and delicious that you think you migh freeze from automatic twitches and theres nothing but these things in which your wrapped up in ways instictive captive in mucous in the object realm you cant wash the sound off your toes quick brown fox and all good men went lorem ipsum salading until quarter to 10   Placeholder text is so lovely and delicious that you think you migh freeze from automatic twitches and theres nothing but these things in which your wrapped up in ways instictive captive in mucous in the object realm you cant wash the sound off your toes quick brown fox and all good men went lorem ipsum salading until quarter to 10   Placeholder text is so lovely and delicious that you think you migh freeze from automatic twitches and theres nothing but these things in which your wrapped up in ways instictive captive in mucous in the object realm you cant wash the sound off your toes quick brown fox and all good men went lorem ipsum salading until quarter to 10   Placeholder text is so lovely and delicious that you think you migh freeze from automatic twitches and theres nothing but these things in which your wrapped up in ways instictive captive in mucous in the object realm you cant wash the sound off your toes quick brown fox and all good men went lorem ipsum salading until quarter to 10   Placeholder text is so lovely and delicious that you think you migh freeze from automatic twitches and theres nothing but these things in which your wrapped up in ways instictive captive in mucous in the object realm you cant wash the sound off your toes quick brown fox and all good men went lorem ipsum salading until quarter to 10 
  </div>




</body>
</html>
