<!DOCTYPE html>
<html lang="en">
  <head>
	  <% include ../partials/header.ejs %>

	  <% include ../partials/section-banner.ejs %>
	  <% include ../partials/section-menu.ejs %>
	  <% include ../partials/section-overview.ejs %>
	  <% include ../partials/history-graph.ejs %>
	  <% include ../partials/ssid.ejs %> 
	  <% include ../partials/csv-email.ejs %>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
   <body data-spy="scroll" data-target=".main-nav">
   	
	  <% include ../partials/section-footer.ejs %>
	  <% include ../partials/bootstrap.ejs %>



<!--TODO: copy footer code to footer.ejs and include as a partial -->
	


  </body>
</html>
