<% include ../partials/header-new.ejs %>
<div class="container">
	<div class="row">
		<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
			<% include ../partials/alerts.ejs %>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
			<div class="card card-login my-5">
				<div class="card-header text-center">
					<h1>Wifiology</h1>
				</div>
				<div class="card-body">
					<form action="/register" method="POST">
						<h1 class="h3 mb-3 font-weight-normal">Register A New User</h1>
						<div class="form-group">
							<label class="col-form-label" for="username">Username</label>
							<input type="text" class="form-control" name="username" id="username"  placeholder="Username">
						</div>
						<div class="form-group">
							<label class="col-form-label"  for="emailAddress">Email address</label>
							<input type="email" class="form-control" name="emailAddress" id="emailAddress" placeholder="Enter email">
						</div>
						<div class="form-group">
							<label  class="col-form-label" for="password">Password</label>
							<input type="password" class="form-control" id="password" name="password" placeholder="Password">
						</div>
						<div class="form-group">
							<label  class="col-form-label" for="passwordConfirm">Confirm Password</label>
							<input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm" placeholder="Confirm Password">
						</div>
						<div class="form-group">
							<button class="btn btn-lg btn-primary btn-block">Register</button>
						</div>
						<hr class="my-4">
						<div class="form-group">
							<a class="btn btn-lg btn-secondary btn-block" href="/login">Log In</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<% include ../partials/footer-new.ejs %>